{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container" style="margin-top: 50px;">
    <div class="starter-template">
    
    <h4><a href="">
        Lab information</a></h4>
    <h4> 在果蝇领域，大名鼎鼎的摩尔根以及他的“第三定律”给他带来了获1933年诺贝尔奖（1933年由于发现染色体在遗传中的作用获奖）。
        1946年，米勒证明了X射线能使果蝇的突变率提高150倍，同时，辐射也会引起染色体畸变，获诺贝尔奖和果蝇的突变大师称号。
        1995年，美国的E.B.Lewis、EricWieschaus和德国Nusslein-Volhard三位发育遗传学家摘取了诺贝尔生理学或医学奖桂冠。
        美国科学家理查德阿克塞尔和琳达巴克发现了果蝇在嗅觉功能上有个特定的大脑区域，他们因在气味受体和嗅觉上的杰出研究被授予2004年的诺贝尔生理学或医学奖。
        斯德哥尔摩时间2017年10月2日，2017年诺贝尔生理学或医学奖揭晓。正是由于对身体内生物钟分子机制的研究，三位科学家杰弗理·霍尔、迈克尔·罗斯巴殊和迈克尔·杨获得了
        2017年诺贝尔生理学或医学奖。
        受到他们的鼓舞和启发，更多人投身其中，大量的生物钟基因被发现，同时生物钟理论在多方面也得到了应用。
    </h4>
    <h4>
        Recommend the video:<br>
        1. 《白眼之殇》（清华大学2012电影文化节短片大赛最佳原创剧本得主）（20min）<br>
        2. 青春永驻 Don't Grown Old（BBC地平线《长生不老》系列纪录片）（49min）<br>
        <br>
        Recommended reading:<br>
        1. Interventions to Slow Aging in Humans: Are We Ready?[J]. Aging Cell, 2015, 14(4):497.Longo V D, Antebi A, Bartke A, et al.<br>
        2. The Hallmarks of Aging[J]. Cell, 2013, 153(6):1194.Kroemer G.<br>
        3. Methods in Molecular Biology, Vol 420：Drosophila：Methods and protocols.<br>
        <br>
        Contact: shenjie@hdu.edu.cn<br>
        Address: Hangzhou Dianzi University, Zhejiang China<br>
    </h4>
    <h4>Copyright © 2018-2020, Hangzhou Dianzi University</h4>
    </div>
  </div><!-- /.container -->
{% endblock %}