{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container" style="margin-top: 50px;">
    <div class="starter-template">
    
    <h4><a href="">
        Lab information</a></h4>
    <h4> 在果蝇领域，大名鼎鼎的摩尔根以及他的“第三定律”给他带来了获1933年诺贝尔奖（1933年由于发现染色体在遗传中的作用获奖）。
        1946年，米勒证明了X射线能使果蝇的突变率提高150倍，同时，辐射也会引起染色体畸变，获诺贝尔奖和果蝇的突变大师称号。
        1995年，美国的E.B.Lewis、EricWieschaus和德国Nusslein-Volhard三位发育遗传学家摘取了诺贝尔生理学或医学奖桂冠。
        美国科学家理查德阿克塞尔和琳达巴克发现了果蝇在嗅觉功能上有个特定的大脑区域，他们因在气味受体和嗅觉上的杰出研究被授予2004年的诺贝尔生理学或医学奖。
        斯德哥尔摩时间2017年10月2日，2017年诺贝尔生理学或医学奖揭晓。正是由于对身体内生物钟分子机制的研究，三位科学家杰弗理·霍尔、迈克尔·罗斯巴殊和迈克尔·杨获得了
        2017年诺贝尔生理学或医学奖。
        受到他们的鼓舞和启发，更多人投身其中，大量的生物钟基因被发现，同时生物钟理论在多方面也得到了应用。
    </h4>
    <h4>
    In the field of fruit flies, the famous Morgan and his "third law" brought him the Nobel Prize in 1933 
    (in 1933, he was awarded for the discovery of the role of chromosomes in genetics). 
    In 1946, Miller proved that X-rays can increase the mutation rate of Drosophila 150 times. 
    At the same time, radiation can also cause chromosome aberrations, winning the Nobel Prize and 
    the title of Drosophila mutation master. In 1995, three developmental geneticists, E.B. Lewis, Eric Wieschaus 
    in the United States and Nusslein-Volhard in Germany, won the Nobel Prize in Physiology or Medicine. 
    American scientists Richard Axel and Linda Buck discovered that Drosophila has a specific brain area in olfactory function. 
    They were awarded Nobel Physiology or Medicine in 2004 for their outstanding research on odor receptors and 
    olfaction prize. On October 2, 2017, Stockholm time, the 2017 Nobel Prize in Physiology or Medicine was announced. 
    It is precisely because of the study of the molecular mechanism of the circadian clock in the body that the three 
    scientists Jeffrey Hall, Michael Rothbach and Michael Yang won the 2017 Nobel Prize in Physiology or Medicine. 
    Encouraged and inspired by them, more people joined them, and a large number of circadian clock genes were discovered. 
    At the same time, circadian clock theory has also been applied in many ways.
    </h4>
    <h4>
        <p style="color:red">Recommend the video:<br>
       <a href="https://www.bilibili.com/video/BV13x411w789"> 1. 《白眼之殇》（清华大学2012电影文化节短片大赛最佳原创剧本得主）（20min）</a><br></p>
        2. 青春永驻 Don't Grown Old（BBC地平线《长生不老》系列纪录片）（49min）<br>
        <br>
        <p style="color:red">Recommended reading:<br>
       <a href="https://onlinelibrary.wiley.com/doi/pdf/10.1111/acel.12338">
         1. Interventions to Slow Aging in Humans: Are We Ready?[J]. Aging Cell, 2015, 14(4):497.Longo V D, Antebi A, Bartke A, et al.</a><br>
        <a href="https://www.cell.com/cell/fulltext/S0092-8674(13)00645-4">
            2. The Hallmarks of Aging[J]. Cell, 2013, 153(6):1194.Kroemer G.</a><br>
        <a href="https://www.springer.com/series/7651">3. Methods in Molecular Biology, Vol 420：Drosophila：Methods and protocols.</a><br>
        <br>
        <p style="color:red">The Website Article</p>
            <a href="https://abt.ucpress.edu/content/82/1/37">
                Shen, Jie & Xiang, Zhu & Peijing, Yang & Zixuan, Zhou. (2020). Searching for the Source of Infection: 
                A Website to Help Teach the Principles of Infectious Disease. The American Biology Teacher. 82. 37-42. 10.1525/abt.2020.82.1.37. </a>
        <br>
        Contact: shenjie@hdu.edu.cn<br>
        Address: Hangzhou Dianzi University, Zhejiang China<br>
    </h4>
    <h4>Copyright © 2018-2020, Hangzhou Dianzi University</h4>
    </div>
  </div><!-- /.container -->
{% endblock %}