{% extends "base_infec.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if show_case %}
        <a href="{{ url_for('creat', username=username) }}" color:#fff class="stretched-link">
            <button type="button" class="btn btn-primary">Creat Case</button></a>
        {% for icase in case %}
            <tr>
                <a href="{{ url_for('manage_case', casename=icase.casename) }}">
                    <h4>
                        You can choice 
                        Case id:{{icase.id}} 
                        Case name:{{icase.casename}} 
                        Case owner:{{icase.author.id}}
                    </h4>
                </a>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}